@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Hand+Pre:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins"
    
}
body {
    background-color: #222;
    color: white;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg , #00feba, #5b548a);
    color: #fff;
    margin: 50px auto ;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center; 
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px; 
    font-size: 18px;
}
.search button{
    height: 60px;
    width: 60px;
    border: 0;
    outline: 0;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search img{
    width: 22px;
}
.weather-icon{
    margin-top: 30px;
    width: 170px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    padding: 0 20px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
   width: 40px;
   margin-right: 10px; 
}
.humidity , .wind{
    font-size: 28px;
    margin-top: -6px;
}